.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 0rem;
    
    img {
      width: 50%;
      height: 12rem;
      object-fit: cover;
    }
  }
 .explore-row {
    display: flex;
    justify-content: space-between; /* Equal spacing between elements */
    align-items: center;
    width: 100%;
    padding: 1rem 0;
    background-color: dimgray;

     ::ng-deep {

      .globalTreeSelect{
        margin-left: 2rem;
        max-width: 11rem;
        width: 100%;
        overflow: visible;
      
       
  .p-treeselect-label-container{
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 9rem;
  }
      }
    }

    ::ng-deep .p-tooltip {
      background-color: white;
      color: darkgrey;
    }
    
::ng-deep .p-multiselect{
  max-width: 10rem;
  text-overflow: ellipsis;
  width: 100%;
}

::ng-deep .p-treeselect-panel {
    width: 300px !important;        /* Ensure dropdown panel width is fixed */
    padding: 10px;
}

.p-button {
    margin-right: 10px;
   
}
::ng-deep .search-btn .p-button{
  background-color: rgba(5, 107, 5, 0.842);
  border-color: darkgreen;
  border: 0px;
  
}
::ng-deep .cancel-btn .p-button {
  margin-right: 2rem !important;
  background-color: red;
  border-color: red;
}
.p-button:last-child {
    margin-right: 2rem;
}


}

  
  /* explore.component.scss */

.search-results-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .result-header, .result-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 5px 0;
    align-items: center;
  }
  
  .result-header div, .result-row div {
    flex: 1;
    text-align: left;
    padding: 0 10px;
  }
  
  /* Add this new wrapper class to your CSS */

.results-background {
  position: relative;
  overflow: hidden; /* Ensure content doesn't overflow */
}

/* Apply styles for the search results container */
.search-results-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: relative; /* Ensure the content is positioned relative to this */
  z-index: 1; /* Keep text above the background */
}

/* Create a pseudo-element for the background */
.results-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/assets/images/photo8.png");
  /* Replace with your image path */
  background-size: cover; /* Cover the entire area */
  background-position: center; /* Center the image */
  filter: blur(8px); /* Adjust the blur effect */
  opacity: 0.6; /* Adjust the opacity for transparency */
  z-index: 0; /* Set below the text */
}
.search-results-section{
  margin: 2rem;
}