<div class="header">
    <nav>
      <ul class="Tabs">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/login-signup">Login/Signup</a></li>
        <li><a routerLink="/explore">Explore</a></li>
        <li><a routerLink="/find-your-voyage">Find Your Voyage</a></li>
        <li><a routerLink="/help">Help</a></li>
      </ul>
    </nav>
  </div>
  
  <!-- <div class="main-image">
    <img src="path_to_your_image/mountain.jpg" alt="Mountain and Hills">
  </div> -->
  
  <router-outlet></router-outlet> <!-- Display routed components here -->
  