<!-- header.component.html -->
<div class="container">
    <div class="header">
      <nav>
        <div class="button-container">
          <p-button routerLink="home" routerLinkActive="active">Home</p-button>
          <p-button routerLink="login" routerLinkActive="active">Login/Signup</p-button>
          <p-button routerLink="explore" routerLinkActive="active">Explore</p-button>
          <p-button routerLink="find-your-voyage" routerLinkActive="active">Find Your Voyage</p-button>
          <p-button routerLink="ask" routerLinkActive="active">Help</p-button>
        </div>
      </nav>
     
    </div>
  </div>
  
